.more-info {
  width: 100%;
  max-width: 650px;
  padding: 10px;
  /* margin: 20px; */
}
.type-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.type {
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(86, 125, 64, 0.91);
  color: var(--color-white);
  font-weight: bold;
  outline: 1px solid var(--color-text-secondary);
}
.social-entity {
  padding-bottom: 35px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
