.card {
  position: relative;
  margin: 25px;
}

.card > .img-container {
  width: 100%;
}

.card > .img-container > img {
  width: 350px;
  height: 300px;
  padding: 20px;
  object-fit: contain;
  cursor: pointer;
}

.card > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 20px;
  -webkit-text-stroke: 1px var(--color-text-secondary);
  text-align: center;
}

.card:hover > h3 {
  opacity: 1;
  z-index: 457867;
}

.card:hover .img-container > img {
  opacity: 0.4;
}
