.help-form {
  /* background-color: #1e4a7aa2; */
  /* background-color: #1b5e1f98; */
  /* background-color: #cea62fcf; */
  /* background-color: #4527a08d; */
  /* background-color: #0b4f6c9f; */
  /* background-color: #1a4c3e9d; */
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}
.help-form > label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.help-form > label > input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-text-secondary);
}
