/* Estos son los estilos de projects-container (no es la seccion en la que estás aquí. Esa es .project-details-section. Cuando acabes de dar estilos a toda esta página, borra este selector para no hacerte lío. Lo pongo para que veas los estilos por defecto que se están aplicando */
.projects-container {
  min-height: 61.9vh;
  margin: 2rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/* .project-details-section {
  align-items: center;
} */
.project-details {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  gap: 1rem;
}
.project-details > h2 {
  width: 80%;
  text-align: center;
}

.image-project-ontainer {
  width: 400px;
  height: auto;
}
.image-project-ontainer > img {
  width: 100%;
  object-fit: cover;
}
.project-details > p {
  width: 90%;
  max-width: 650px;
  font-size: 18px;
  color: var(--color-text-secondary);
  margin-bottom: 20px;
}
