.slider {
  height: 300px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 70%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.slider::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.slider::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.slider::-webkit-scrollbar-thumb:active {
  background: #fffafa;
}
.slider::-webkit-scrollbar-track {
  background: #3e3e3e;
  border: 0px none #ffffff;
  border-radius: 54px;
}
.slider::-webkit-scrollbar-track:hover {
  background: #666666;
}
.slider::-webkit-scrollbar-track:active {
  background: #30303083;
}
.slider::-webkit-scrollbar-corner {
  background: transparent;
}
@media (max-width: 600px) {
  .slider {
    width: 100%;
  }
}
