.search-container > span {
  position: relative;
  bottom: 10px;
  font-weight: bold;
}
.search-to-google {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid var(--color-text);
}

.search-to-google > button {
  background-color: transparent;
  position: relative;
  left: calc((100% - 40px) / 2);
  top: -2.3rem;
}
